.pomodoro-clock-header, .pomodoro-clock-body {
  width: 100%; }

.pomodoro-clock-header {
  overflow: auto;
  margin-bottom: 10px; }

.clock-timer {
  font-size: 2em;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #496887;
  color: white; }

.clock-settings {
  margin-top: 10px; }
  .clock-settings .js-clock-session-length, .clock-settings .js-clock-break-length {
    width: 50px; }
